.containerAll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  text-align: center;
}

.container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.container div {
  width: 300px;
  height: 300px;
  background-color: red;
  border-radius: 10px;
}